<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>783039616878-jhup2i9fig4as0dpsjhdm3cqota6cqpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783039616878-jhup2i9fig4as0dpsjhdm3cqota6cqpq</string>
	<key>API_KEY</key>
	<string>AIzaSyANTlV9TgWUv2P51IHd_8NFritefnc9Els</string>
	<key>GCM_SENDER_ID</key>
	<string>783039616878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheknightMarket.BreakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpointapp-c535b</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpointapp-c535b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783039616878:ios:778d288acc0383c4</string>
	<key>DATABASE_URL</key>
	<string>https://breakpointapp-c535b.firebaseio.com</string>
</dict>
</plist>